body{
    margin: 0 !important;
    font-family: 'Lato';
}
a{
    text-decoration: none !important;
    outline: none !important;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Lato-Heavy';
}
input, textarea, select{
    box-shadow: none !important;
    outline: none !important;
}
strong{
    font-family: 'Lato-Bold';
}
#masthead{
    position: fixed;
        z-index: 8;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
}
#masthead+div > section:first-of-type, #masthead+section > section:first-of-type{
    padding-top: 124px;
}
.page #masthead+div > div:first-of-type, .page #masthead+section > div:first-of-type, .error404 #masthead+div > div:first-of-type, .error404 #masthead+section > div:first-of-type{
    margin-top: 180px;
}
.page footer{
    margin-top: 50px;
}
.validate
{
    font-size: 12px;
    color: red;
    padding-top: 5px;
}
.validate-shirt
{
    font-family: 'Lato-Heavy';
    font-size: 16px;
    color: #FFF;
    background: #153661;
    display: inline-flex;
    margin: 20px auto auto;
    height: 45px;
    max-width: 180px;
    border-radius: 6px;
    box-shadow: 0 0 24px #d2d3f8;
    -webkit-box-shadow: 0 0 24px #d2d3f8;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 2px solid #153661;
    width: 100%;
    padding: 0 12px;
}
#masthead.scrolled{
    background: #FFF;
    box-shadow: 0 0 6px #ece9e9;
    -webkit-box-shadow: 0 0 6px #ece9e9;
    -moz-box-shadow: 0 0 6px #ece9e9;
}
#masthead.scrolled .site-branding{
    width: 100px;
}
#masthead.scrolled .user-btn > img{
    font-size: 16px;    
    height: 40px;
    width: 40px;
}
button.close{
    font-size: 14px;
    outline: none;
    border: none;
    color: black;
}
.reward-message .modal-body
{
    text-align: center;
    color: #fff;
}
.reward-message .modal-body h3
{
   font-size: 20px;
}
.reward-message .modal-body a
{
    font-family: 'Lato-Heavy';
    font-size: 16px;
    cursor: pointer;
    color: #FFF;
    background: #153661;
    display: inline-flex;
    margin: 20px auto auto;
    height: 45px;
    max-width: 180px;
    border-radius: 6px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid #fff;
    width: 100%;
    padding: 0 12px; 
}
.reward-message .modal-body a:hover
{ 
    color: #153661;
    background: #ffffff;
}
.reward-message .modal-content
{
    background: #153661;
    padding-bottom: 23px;
}
.reward-message .modal-content  .close
{
    text-align: right;
    color: #fff;
}
.reward-message .modal-content  .close span
{
      font-size: 20px;
    padding: 0px 10px;
    color: #fff;
}
.reward-message .modal-header
{
    border-bottom: none;
    padding-bottom: 0px;
}

.modal-backdrop
{
    z-index: 9;
}
.background-image{
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.login-page{
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.login-page-logo{
    max-width: 120px;
    margin-bottom: 30px;
}
.login-wrap{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.login-wrap-inner{
    overflow:hidden auto;    
    padding: 30px 50px;
    max-width: 520px;
    margin: auto;
    width: 100%;
}
.div-6{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    background: #FFF;
}
.login-page .login-form{
    background: transparent;
    padding: 0;
    margin: 50px 0 0
}
.login-page .login-form input, .registration-form input, .registratoin-form textarea, .registration-form select{
    outline: none !important;
    box-shadow: none !important;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
}
.registration-form select{
    -webkit-appearance: menulist-button !important;
}
.login-l{
    overflow: hidden auto;
}
.login-page .login-form input[type="text"]:focus, .login-page .login-form input[type="password"]:focus, .registration-form input:focus, .registration-form textarea:focus{
    border-left: 4px solid #00758d !important;
}
.login-page .login-form .login-field, .registration-form input:not([type="checkbox"]):not([type="file"]), .registration-form select{
    height: 55px !important;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #a3cbcb;
    padding-left: 20px;
    /*font-family: Lato-Bold;*/
    font-size: 18px;
}
.registration-form input[type="file"]{
    height: 40px;
    width: 100%;
}
.registration-form input[type="file"]:focus{
    border: none !important;
}
.registration-form input[disabled]{
    color: #757575;
}
.registration-form .avatar{
    max-width: 160px;
    border-radius: 50%;
    margin: 0 0 30px 0;
}
.login-page .fui-lock:before, .login-page .fui-user:before{
    content: none;
}
.login-page .login-remember, .login-page .submit-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    margin: 30px 0 15px;    
}
.login-page .submit-wrap{
    margin: 40px 0 20px;
}
.login-content a{
    color: #00758d;
}
.login-remember{
    font-family: 'Lato-Semibold';
}
.login-page .login-remember a{
    color: #00758d !important;
    text-decoration: none !important;
}
.login-page .login-form .login-btn{
    height: 42px;
    width: 200px;
    color: white;
    background: #00758d;
    border: 1px solid #00758d;
    padding: 0px;
    font-size: 16px;
    border-radius: 6px;
    box-shadow: 0 0 24px #a1b0c3;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
}
.login-page .login-form .login-btn:hover{
    color: #00758d;
    background: #ffffff;
    border: 2px solid #00758d;
}
.login-page .login-form .sign-up{
    height: 42px;
    width: 200px;
    color: #153661;
    background: #ffffff;
    border: 2px solid #00758d;
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    display: inline-flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    outline: none;
    box-shadow: 0 0 24px #d6d6d6;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
}
.login-page .login-form .sign-up:hover{
    color: #FFF;
    background: #00758d;
}
.login-wrap .profilepress-login-status{
    background-color: #f0f0f0;
    color: #000;
}
.login-wrap .profilepress-login-status a {
    color: #00758d !important;
}
.login-image-right{
    width: 100%;
}
.login-image-right img{
    width: 100%;
    object-fit: cover;
    object-position: center 0;
    height: 100vh;
}
/**** Registration Page ****/
.user-reg-form{
    padding: 0 0 40px;
    overflow: hidden;
}
.registration-form{
    max-width: 767px;
    margin: auto;
}
.registration-form textarea{
    height: 120px;
    resize: none;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #a3cbcb;    
    padding-left: 20px;
    /* font-family: Lato-Bold; */
    font-size: 18px;
    color: #000;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
}
.registration-form input, .registration-form select, .registration-form textarea{
    margin-bottom: 30px;
}
.user-registration .register-logo{
    max-width: 180px;
    margin: 30px auto;
    padding: 0 20px;
}
.reg-welcome{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.reg-welcome div[class*="col-"]:first-of-type{
    padding: 0 !important;
}
.video-wrap{
    max-height: 480px;
    max-width: 770px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    flex: 60%;
    border-radius: 10px;
}
.welcome-text{
    padding: 50px 60px 60px;
    flex: 40%;
    max-width: 500px;
}
.main-title-pass{
    margin-bottom: 36px;
}
.pass-text{
    color: #a5b6cd;
}
.pass-text ul, .pass-text ol{
    margin: 0;
    padding: 0 0 0 15px;
}
.pass-text ul li:not(:last-child), .pass-text ol li:not(:last-child){
   margin-bottom: 10px;
}
.how-it-works{
    margin: 50px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
}
.how-it-works h2{
    margin-bottom: 30px;
}
.main-title{
    margin-bottom: 30px;
}
.unstyled-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.form-progress{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    max-width: 320px;
    margin: auto auto 30px;
    position: relative;
}
.form-progress li{
    border-radius: 50%;
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #FFF;
}
.form-progress li.active{   
    border: 1px solid #00758d;   
    padding: 3px;
    height: 43px;
    width: 43px;
}
.form-progress li span{
    display: flex;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background: #a3cbcb;
    color: #FFF;
    line-height: 35px;
    justify-content: center;
    align-items: center;
}
.form-progress li.active span{   
    background: #00758d;    
}
.form-progress:after{
    content: "";
    width: 100%;
    height: 2px;
    background: #a3b5cb;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 0;
    z-index: -1;
}
.reg-next{
    text-align: center;
    margin: 10px 0 0;
}
.reg-next-btn{
    height: 42px;
    width: 120px;
    color: white;
    background: #00758d;
    border: 1px solid #00758d;
    padding: 0px 15px; 
    font-size: 16px;
    border-radius: 6px;
    box-shadow: 0 0 24px #d6d6d6;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    outline: none;
}
.reg-next-btn:hover{
    color: #00758d;
    background: #ffffff;
    border: 2px solid #00758d;
}
.form-submit{
    text-align: center;
}
.form-group terms-box a{
    color: #00758d;
    font-weight: bold;
    text-decoration: underline !important;
}
.registration-form input[type="submit"]{
    height: 42px !important;
    width: 140px;
    color: white;
    background: #00758d !important;
    border: 1px solid #00758d;
    padding: 0px 15px; 
    font-size: 16px;
    border-radius: 6px;
    box-shadow: 0 0 24px #a1b0c3;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    margin: 30px auto 0;
}
.registration-form input[type="submit"]:hover{
    color: #00758d;
    background: #ffffff !important;
    border: 2px solid #00758d;
}
div[class*="reg-form"]{    
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    opacity: 0;
    position: absolute;
    z-index: -1;
    height: 0;
    overflow: hidden;
}
div[class*="reg-form"].active{
    position: relative;
    height: auto;
    overflow: hidden;    
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    opacity: 1;
    z-index: 99;
    height: auto;
}
.already-acc{
    margin: 20px 0;
    color: #a5b6cd;
}
.already-acc a, .terms-box{
    color: #00758d;
    font-family: 'Lato-Semibold';
}
/**** Registration Page Ends ****/

/**** Dashboard ****/
.header-main{	
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
}
.site-branding{
    width: 140px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
}
.user-toggle{
    position: relative;
}
.user-btn{
    border: none;
    background: transparent;
    padding: 0;
    outline: none !important;
}
.user-btn > img{    
    border-radius: 50%;
    height: 65px;
    width: 65px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;    
    border: none;
    float: none;
    margin-left: auto;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    outline: none !important;
}
.main-navigation{
    padding: 10px 15px;
    border: 1px solid rgba(164, 164, 164, 0.2);
    /*transform: translate(-50%, -50%) !important;
    top: 190% !important;
    left: 50% !important;*/
    /*transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;*/
    font-family: 'Lato-Medium';
}
.main-navigation a{
    color: #0e7a80;
}
.main-navigation a:hover, .main-navigation a:focus{
    color: #25868c;
}
.all-badges{
    background: #faffff;
}
.badges-slider-outer{
    position: relative;
    overflow: visible;
}
.badges-slider{
    margin: 50px auto;
}
.badge-col{
    outline: none;
}
.badge-col.disabled, .claimed-rew{
    pointer-events: none !important;
}
.badge-col.disabled .badge-inner-wrap *{
    opacity: 0.5;
}
.badge-col.claimed .badge-inner-wrap *{
    opacity: 1 !important;
}
.badge-inner-wrap{
    border: 2px solid #00758d;
    padding: 30px;
    border-radius: 15px;
    text-align: center;    
    margin: 0 10px 20px;
    background: #FFF;
}
.slide-prev, .slide-next{
    width: 30px;
    height: auto;
}
.slide-prev{
    left: -50px;
}
.slide-next{
    right: -50px;
}
.badge-icon{
    display: inline-flex;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;    
}
.badge-title{
    font-size: 20px;
    font-family: 'Lato-Bold';
    margin-bottom: 36px;
}
.badge-description{
    font-family: 'Lato-Semibold';
    font-size: 17px;
    color: #a5b6cd;    
}
.all-badges .badge-description, .claimed-badges .badge-description{
    height: 51px;
    overflow: hidden;
}
.badge-claim > input[type="submit"], .badge-claim > a,.badge-claim > p{
    font-family: 'Lato-Heavy';
    font-size: 16px;
    cursor: pointer;
    color: #FFF;
    background: #00758d;
    display: inline-flex;
    margin: 20px auto auto;
    height: 45px;
    max-width: 180px;
    border-radius: 6px;
    box-shadow: 0 0 24px #d6d6d6;
    -webkit-box-shadow: 0 0 24px #d6d6d6;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 2px solid #00758d;
    width: 100%;
    padding: 0 12px;
}
.badge-claim > input[type="submit"]:hover, .badge-claim > a:hover,.badge-claim > p:hover{
    color: #00758d;
    background: #ffffff;    
}
.badge-claim > input[type="submit"].disabled, .claimed-rew{
    pointer-events: none !important;
    background: #ccc !important;
    border-color: #ccc !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.badge-inner-wrap.claimed{
    cursor: not-allowed;
}
.badge-inner-wrap.claimed * {
    opacity: 0.5;
    cursor: not-allowed;
}
.all-badges-heading{
    text-align: center;
}
.all-badge-small{
    font-family: 'Lato-Semibold';
    font-size: 20px;
    position: relative;
    text-transform: uppercase;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.all-badge-small:after{
    content: '';
    width: 50px;
    height: 3px;
    background: #097a91;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}
.all-badges-heading .main-title{
    font-size: 42px;
    font-family: 'Lato-Bold';
    max-width: 500px;
    margin: auto auto 70px;
}
.main-title-2{
    font-size: 30px;
    font-family: 'Lato-Semibold';
    margin-bottom: 45px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
.claimed-badges{
    padding: 50px 0;
}
.claimed-badge-listing{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.claimed-badge-listing .badge-col{
    width: 50%;
}
.claimed-badge-listing .badge-description p{
    margin-bottom: 0;
}
.reward-col .badge-inner-wrap{
    padding: 80px 30px;
}
.reward-title h2{
    font-family: 'Lato-Bold';
    font-size: 24px;
    margin-bottom: 40px;
    color: #30323a;
}
.reward-progress{
    margin: 20px 0;    
}
.reward-progress .title{
    font-family: 'Lato-Semibold';
    font-size: 17px;
    color: #a5b6cd;
}
.reward-progress .count{
    font-family: 'Lato-Bold';
    font-size: 24px;
    color: #153661;
}
.reward-progress .completed-badge{
    padding-bottom: 20px;
    border-bottom: 1px solid #a5b6cd;
    margin-bottom: 20px;
}
.reward-progress .completed-badge, .reward-progress .total-badge{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
}
.reward-t{
    font-family: 'Lato-Semibold';
    font-size: 17px;
    color: #a5b6cd;
     margin: 15px 0;
}
.reward-t > span {
    font-family: 'lato-Bold';
    color: #153661;   
}
.reward-progress-bar{
    margin: 50px auto 30px;
}
.reward-bar{
    position: relative;
    height: 3px;
    width: 100%;
    background: #a5b6cd;
    overflow: hidden;
}
.reward-bar-cal{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #21b515;
}
.reward-image{
    max-width: 193px;
    margin: 0 auto 30px;
}
.success-message{
    margin: 30px 0 0;
}
.success-message h3{
    font-size: 24px;
}
.success-message i{
    color: #00758d;
    margin-right: 6px;
}
.__submitLoader-wrap{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255 , 0.4);    
    display: none;
}
.__submitLoader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #153661;
    width: 24px;
    height: 24px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.claim-reward-title{
    font-family: 'Lato-Bold';
    font-size: 28px;
    margin-bottom: 30px;
    color: #30323a;
}
/**** Dashboard Ends ****/

/**** Review Page ****/
.review-banner{
    height: 360px;
}
.review-section{
    padding: 80px 0;
}
.review-section .badge-description{
    max-width: 500px;
    margin: auto;
}
.badge-review{
    max-width: 500px;
    margin: 30px auto;
    position: relative;
}
.rating-meter{
    margin: 15px 0 20px;
    font-size: 40px;
}
.rating-meter li {
    display: inline-block;
    margin: 0 3px;
    color: #FFC02B;
    cursor: pointer;
    line-height: 0;
}
.badge-review textarea{
    border: 1px solid #a5b6cd;
    color: #000;
    resize: none;
    padding: 15px;
}
.badge-review textarea::-webkit-input-placeholder{
    color: #a5b6cd;
}
.badge-review textarea:-moz-input-placeholder{
    color: #a5b6cd;
}
.badge-review textarea::-moz-input-placeholder{
    color: #a5b6cd;
}
.badge-review textarea:-ms-input-placeholder{
    color: #a5b6cd;
}
.badge-review #usercode{
    border: 1px solid #a5b6cd;
    color: #000;
    resize: none;
    padding: 15px;
    width: 100%;
    margin: 30px 0 10px;    
}
.badge-review input::-webkit-input-placeholder{
    text-transform: none !important;
}
.badge-review input:-moz-input-placeholder{
    text-transform: none !important;
}
.badge-review input::-moz-input-placeholder{
    text-transform: none !important;
}
.badge-review input:-ms-input-placeholder{
    text-transform: none !important;
}
.rating-meter li i{
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.rating-meter li i:before{
    content: "\f005";    
}
.rating-meter li.hover i, .rating-meter li.active i{
    font-weight: 900;
}
.rating-error, .message-error, .message-error-code{
    position: absolute;
    right: -50px;
    background: transparent;
    padding: 5px 8px;
    border-radius: 5px;
    color: #fb3939;
    font-size: 14px;
    display: none;
    z-index: 9999;
    right: 0;
    margin: auto;    
    left: 0;
    width: 100%;
    text-align: center;
    left: 0;
    font-weight: bold;
    right: 0;
}
.rating-error{
    top: 51px;
}
.message-error{
    bottom: 21%;
}
.message-error-code{
    bottom: -23px;
}
.reward-c-section{
    margin: 80px 0 0;
}
.registration-form .message-error{
    bottom: 110px;
}
.registration-form label{
    font-family: 'Lato-Semibold';
}
.registration-form .terms-box label{
    margin: 0 0 0 10px;
}
/*** Review Page Ends ****/
.slick-prev::before, .slick-next::before{
    content: none !important;
}
.submit-review{
    float:right;
}
.back-btn{
    font-family: 'Lato-Heavy';
    float:left;
    margin-top:30px;
}
.back-btn a{
    color: #FFF;
    font-size: 17px;
    background: #CCC;
    padding: 12px 20px;
    border: 2px solid #CCC;
    border-radius: 6px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
}
.back-btn a:hover{
    background: #555;
    color: #FFF;
    border-color:#555;
}
.back-btn a i{
    margin-right: 5px;
}
/**** Footer ****/
#main-footer{
    background: #faffff;
    padding: 40px 0 15px;
    color: #a5b6cd;
    font-family: 'Lato-Medium';
}
#main-footer a{
    font-family: 'Lato-Medium';
    color: #a5b6cd;
}
.footer-logo{
    max-width: 130px;
    margin-bottom: 20px;
}
.footer-bottom{
    padding: 20px 0 0 0;
    border-top: 1px solid #eaeaea;
    margin: 30px 0 0 0;
}
.footer-title{
    font-size: 17px;
    font-family: 'Lato-Heavy';
    color: #000;
    margin-bottom: 20px;
}
.footer-menu{
    line-height: 30px;
}
.footer-desc{
    max-width: 200px;
}
/**** Footer Ends ****/

/**** 404 Page ****/
.no-beer{
    padding: 80px 0;
}
.mug {
    margin: 40px auto 0;
    position: relative;
    width: 140px;
    height: 170px;
    border-style: solid solid solid solid;
    border-width: 15px 15px 10px 15px;
    border-color: #e2e2e2;
    border-radius: 10px 10px 60px 60px;
}
.beer {
    background: #ffca81;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 20%;
    z-index: -1;
    border-radius: 0 0 40px 40px;
}
.ear {
    position: absolute;
    border: 15px solid #e2e2e2;
    width: 50px;
    height: 80px;
    top: 20px;
    right: -50px;
    border-radius: 18px;
}
.shine {
  display: block;
  position: absolute;
  background: #fff;
  width: 50px;
  height: 200px;
  top: 60px;
  left: 15px;
  border-radius: 20px;
  opacity: 0.4;
}

.shine::after {
  display: block;
  content: '';
  position: absolute;
  background: #fff;
  width: 50px;
  height: 200px;
  top: 0px;
  left: 120px;
  border-radius: 20px;
}

.shine::before {
  display: block;
  content: '';
  position: absolute;
  background: #fff;
  width: 50px;
  height: 200px;
  top: 0px;
  left: 60px;
  border-radius: 20px;
}
.no-404{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    width: auto;
    text-align: center;
    top: 34px;
    font-size: 30px;
    font-family: 'Lato-Heavy';
    color: gray;
}
.error-message{
    margin-top: 30px;
    color: gray;
    text-align: center;
}
.error-message a{
    color: #1f538a;
}
/**** 404 Page Ends ****/

/**** Review Listing ****/
.user-review-listing{
    margin: 50px 0;
}
.review-box:not(:last-child) {
    margin-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 20px;
}
.review-stars{
    margin: 5px 0;
    font-size: 16px;
}
.review-stars li{
    cursor: default;
}
.review-box h5>span{
    font-size: 15px;
    color: #a7a7a7;
    font-family: 'Lato';
    font-style: italic;
}
/**** Review Listing Ends ****/

.how-process-list li{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: 'Lato-Bold';
}
.how-process-list li:not(:last-child){
    margin-bottom: 80px;
}
.how-process-list p{
    margin: 0;
}
.process-icon{
    margin: 0 30px 0 0;
}
.process-icon > img{
    width: 57px;
}
.how-process-list .count{
    background: #a3cbcb;
    color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    position: relative;
}
.how-process-list .bar{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 2px;
    background: #a3cbcb;
    top: 0;
    margin: auto;
    z-index: -1;
}
.how-process{
    margin: 80px 0 0;
}
.process-content {
    width: calc(100% - 168px);
    text-align: left;
    max-width: 300px;
    font-family: 'Lato-Semibold';
}
.emp-info{
    z-index: 99999;
    background: #ff4040;
    color: #FFF;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    width: 100%;
}
.emp-info a{
    color: #FFF;
    font-family: 'Lato-Heavy';
    text-decoration: underline !important;
}
/**** Reset Password ****/
.reset-pass-form .registration-form{
    max-width: none;
}
.reset-pass-form .form-group{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
}
.reset-pass-form input[type="text"]{
    width: calc(100% - 160px);
    height: 42px !important;
}
.reset-pass-form input[type="submit"]{
    margin: 0;
}
.reset-pass-form .profilepress-reset-status{
    background-color: #153661;    
    padding: 8px 10px;
}
/**** Reset Password Ends ****/
.register-success .success-message{
    margin: 50px 0;
}
.upcoming-rewards .badge-claim > a{
    margin: 0;
}
.social-login{
    margin: 30px 0 0 0;
}
.social-login .zocial:before{
    float: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border: none !important;
}
.social-login a{
    width: 100%;
    margin-bottom: 15px;
    border: none;
    -webkit-box-shadow: none !important;
    text-shadow: none !important;
    background-image: none;
    padding: 5px 15px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
}
.social-login a:last-child{
    margin-bottom: 0;
}
.social-login a:visited{
    color: #FFF;
}
.social-login a:hover, .social-login a:focus{
    background-image: none !important;
}
.social-login a.facebook{
    box-shadow:  0px 0px 13px -1px #4863ae !important;
}
.social-login a.googleplus{
    box-shadow:  0px 0px 13px -1px #dd4b39 !important;
    -webkit-box-shadow:  0px 0px 13px -1px #dd4b39 !important;
}
.social-login a.linkedin{
    box-shadow:  0px 0px 13px -1px #0083a8 !important;
    -webkit-box-shadow:  0px 0px 13px -1px #0083a8 !important;
}
.social-login a.facebook:hover{
    background-color: #364980;
}
.social-login a.googleplus:hover{
    background-color: #c13827;
}
.social-login a.linkedin:hover{
    background-color: #067898;
}
/**** Loader ****/
.loader-wrap{
    display: flex;
    width: 100%;
    height: 100%;
    background: #FFF;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.loader-inner{
    height: 200px;
    width: 200px;
    box-shadow: 0 0 15px #ddd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.spinner {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #00758d;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    animation: spin 2s linear infinite;
    position: absolute;
}
.loader-wrap .logo{
    width: 110px;
}
/**** Loader Ends ****/

/**** Popup *****/
.popup{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99999999999;
    background: #00758d;
    font-family: 'Lato-Semibold';
    justify-content: center;    
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    display: none;
    left: 0;
    right: 0;
    margin: auto;
    color: #FFF;
}
.content-pop{
    flex: 1;
    background: #00758d;
    color: #FFF;
    padding: 15px;
    font-size: 18px;
    letter-spacing: 1px;
    display: inline-block;
    width: calc(100% - 60px);
}
.close-popup-btn{
    flex: none;
    padding: 15px;    
    display: inline-block;
    width: auto;
    cursor: pointer;  
    font-size: 28px;
}
/**** Popup Ends *****/

.edit-back{
    max-width: 767px;
    width: 100%;
    display: block;
    margin: 20px auto auto !important;
    float: none;
    text-align: center !important;
}
.edit-back a{
    width: 100%;
    display: inline-block;
}
.how-process-list{
    overflow: hidden;
}
.change-password{
    text-align: right;
    margin-bottom: 30px;
    color: #25868c;
}
.change-password a{
    color: #25868c;
    font-family: 'Lato-Semibold';
}

/**** Responsive ****/
#main-footer div[class*="col-"]:not(:last-child){
    margin-bottom: 20px;
}
.display-message
{
    position: absolute;
    top: 0px;
    padding: 10px 0px;
    background: #5c94d8;
    width: 100%;
    color: #fff;
    text-align: center;
    z-index: 9999;
}
.display-message a
{
    color: #fff;
    text-decoration: none;
    list-style: none;
    outline: none;
}
.display-message a:hover
{
  color: #171819;
}
/*
.all-badges
{
    position: relative;
}
*/
@media (max-width: 1099px){
    .slide-prev {
        left: -25px;
    }
    .slide-next {
        right: -25px;
    }
}
@media(max-width: 1024px){
	.login-page .login-form .login-btn, .login-page .login-form .sign-up{
		width: 47%;
	}
}
@media (max-width: 991px){
	.video-wrap {
		width: 100%;
		max-width: 600px;
		border-radius: 10px;
		flex: 100%;
		margin: auto;
	}
	.welcome-text{
		width: 100%;
		max-width: none;
		text-align: center;
	}
	.main-title-pass{
		font-size: 30px;
	}
	.how-it-works{
		text-align: center;
	}
	.user-reg-form .message-error{
		right: 0;
	}
	.all-badges-heading .main-title{
		font-size: 34px;
	}
	.claimed-badge-listing{
		margin-bottom: 30px;
	}
	.reward-col .badge-inner-wrap {
		padding: 60px 24px;
		max-width: 460px;
		margin: auto;
	}
	.slide-prev {
		left: -30px;
	}
	.slide-next{
		right: -30px;
	}
    .main-title-2{
        font-size: 28px;
    }
}
@media(max-width: 767px){
    .login-page{
        height: auto;
        overflow: auto;
        min-height: 100vh;
    }
	.login-l{
		width: 90%;
		height: auto;
		margin: 15px auto;
		background: #FFF;
	}
	.login-wrap {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		height: auto;
        overflow: auto;
        min-height: 100vh;
	}
	.login-right{
		display: none;
	}
    .review-banner {
		height: 400px;
	}
    .welcome-text{
        padding: 60px 0;
    }
    .main-title-2 {
        font-size: 26px;
    }
    .all-badges-heading .main-title {
        font-size: 32px;
    }
    .claimed-badge-listing h4{
        font-size: 20px;
    }
}
@media(max-width: 600px){
	.claimed-badge-listing .badge-col{
		width: 100%;
	}
	.badges-slider-outer{
		padding:0 30px;
	}
	.slide-prev {
		left: 0;
	}
	.slide-next{
		right: 0;
	}
	.all-badges-heading .main-title{
		font-size: 28px;
	}
	.main-title-2{
		font-size: 24px;
	}
	.submit-review{
        float:none;
        width:100%;
        display:block;
    }
    .back-btn{
        display: block;
        margin-bottom: 50px;
        float: none;
        text-align: left;
    }
    .back-btn a{
        width:100%;
    }
    .review-box h5 {
        font-size: 18px;
    }
    .login-page .login-form .login-btn, .login-page .login-form .sign-up{
        width: 100%;
    }
    .login-page .login-form .login-btn{
        margin-bottom: 15px;
    }
    .how-it-works .main-title{
        font-size: 30px;
    }
}
@media(max-width: 480px){
	.login-content h2{
		font-size: 24px;
		margin: 0 auto;
	}
	.login-wrap-inner{
		padding: 30px;
	}
	/*.login-l{overflow:scroll;}*/
	
	.login-remember{
		flex-direction: column;
	}
	.login-remember label{
		margin: auto;
	}
	.login-page .login-remember a{
		margin: 15px auto 0;
    	text-align: center;
	}
	.badges-slider-outer{
		padding: 0;
	}
	.slide-prev {
		left: -12px;
    	width: 18px;
	}
	.slide-next{
		right: -12px;
		width: 18px;
	}
    .reset-pass-form input[type="text"]{
        width: 100%;        
    }
    .reset-pass-form input[type="submit"]{
        margin: auto;
    }
    .all-badges-heading .main-title {
        font-size: 24px;
        margin-bottom: 40px;
    }
    .main-title-2, .reward-title h2{
        font-size: 20px;
    }
    .badge-description {
        font-size: 16px;
    }
    .process-icon {       
        flex: 100%;
        margin: 0 auto 30px;
    }
    .process-content {
        width: calc(100% - 90px);
    }
}